body {background: #EDF2FF;
        font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
        }
        /* color: #4D65A0 */
h1 {margin:0}
h2 {margin:0; color: #2C0A5C}
p {margin-top:0; margin-bottom:12px;
        font-size:14px; line-height:1.2}
p.larger {font-size:22px; margin-bottom:0; color: #2C0A5C}
p.indented {margin-top:0; margin:30px}
