/*
Copyright 2010  Gregory G. Smith

I, the copyright holder of this work, release this work into the public domain.
This applies worldwide.  In some countries this may not be legally possible; if
so: I grant anyone the right to use this work for any purpose, without any
conditions, unless such conditions are required by law.
*/

body {
    margin: 0px;
    padding: 0;
    border-top: 7px solid #990000;
    background: #FFFFFF;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    color: #000000;
}

h1, h2, h3 {
    margin: 0;
    font-weight: normal;
    color: #990000;
}

h1 {
    font-size: 22px;
}

p, ul, ol {
    margin: 0;
    text-align: justify;
}

a:link, a:visited {
    color: #990000;
    text-decoration: none;
}

a:hover {
    color:#1589FF;
    text-decoration:underline;
}

a img {
    border: none;
}

img {
    float: left;
    margin: 5px 20px 40px 20px;
}

#wrapper {
    background: #ECECEC;
}

/* Header */

#header {
    width: 960px;
    height: 127px;
    margin: 0 auto;
    padding: 0px 0px 0px 0px;
}

/* Menu */

#menu {
    float: right;
    width: 600px;
    height: 60px;
}

#menu ul {
    float: right;
    margin: 0;
    list-style: none;
    line-height: normal;
}

#menu li {
    display: block;
    float: left;
}

#menu a {
    display: block;
    float: left;
    height: 40px;
    margin-right: 1px;
    padding: 20px 20px 0px 20px;
    text-decoration: none;
    text-align: center;
    text-transform: capitalize;
    font-size: 18px;
    color: #990000;
}

#menu a:hover {
    text-decoration:underline;
    color: #1589FF;
}

#menu .current_page_item a {
    background: #990000;
    border-bottom: 7px solid #1589FF;
    color: #FFFFFF;
}

/* Page */

#page {
    width: 960px;
    margin: 0px auto 0px auto;
    padding: 7px 0px 0px 0px;
    font-size: 14px;
}

#page dt {
    font-weight: bold;
    float: left;
    padding-right: 10px;
}

/* LOGO */

#logo {
    float: left;
    height: 45px;
    margin: 0 auto;
    padding-top: 25px;
}

#logo h1, #logo p {
    color: #990000;
    margin: 0px;
    line-height: normal;
    font-family: Georgia, "Times New Roman", Times, serif;
    font-weight: normal;
}

#logo p {
    margin-top: -10px;
    padding: 13px 0px 0px 5px;
    font-weight: bold;
    font-size: 18px;
    color: #000000;
}

#logo p a {
    color: #ADADAD;
}

#logo h1 {
    letter-spacing: -1px;
    font-size: 28px;
}

#logo a {
    text-decoration: none;
    color: #990000;
}

#banner {
    padding-bottom: 20px;
}

/* Post */

.post {
    margin-bottom: 10px;
    line-height:150%;
}

.post .title {
    padding: 4px 0px 0px 0px;
    background: url(images/img02.gif) repeat-x left bottom; 
}

.post .title a {
    text-decoration: none;
    text-transform: capitalize;
    font-size: 30px;
    color: #713652;
}

.post .entry {
    padding: 30px 0px 20px 0px;
}

.post .links {
    display: block;
    width: 120px;
    height: 25px;
    margin: 0px;
    padding: 10px 0px 0px 20px;
    background: #161616 url(images/img10.jpg) no-repeat right top;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 11px;
    text-decoration: none;
    font-weight: bold;
    color: #FFFFFF;
}

.post .comments {
    display: block;
    width: 120px;
    height: 18px;
    margin: 0px;
    padding: 3px 0px 0px 40px;
    background: #90BF35;
    border: 1px dashed #1D1D1D;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 11px;
    text-decoration: none;
    font-weight: bold;
    color: #FFFFFF;
}

.post table {
    margin: 10px auto;
    width: 800px;
    line-height:110%;
    border-collapse: collapse;
}

.post tr {
    vertical-align: top;
}

.post td {
    padding : 2px 5px 4px 5px;
}

.post tr.odd {
    vertical-align : top; 
    border-bottom : 1px solid #990000; 
}

/* Footer */

#footer {
    height: 120px;
    padding: 0;
    background: #F0F0F0;
    color: #ADADAD;
}

#footer p {
    margin: 0;
    padding: 20px 0px 10px 0px;
    text-align: center;
    line-height: normal;
    font-size: 12px;
}

#footer a:link, #footer a:visited {
    color: #ADADAD;
    text-decoration: none;
}

#footer a:hover {
    text-decoration:underline;
}
